/* 
.surface {
  position: relative;

  width: var(--page-width);

  margin-inline: auto;
}

.pages {
  position: absolute;

  inset: 0;

  z-index: 0;

  pointer-events: none;
  background: var(--color-surface);
}

.page {
  position: absolute;

  left: 0;

  width: 100%;
  height: var(--page-height);

  box-sizing: border-box;

  background: var(--color-surface);

  box-shadow:
    0 1px 2px oklch(0% 0 0 / 4%),
    0 8px 32px oklch(0% 0 0 / 8%);
}


.page:not(:first-child)::before {
  content: "";

  position: absolute;

  left: 0;
  right: 0;


  top: calc(-1 * (var(--page-separator-space) + var(--page-separator-height)));

  height: var(--page-separator-height);

  background: var(--page-separator-color);
}

.editor {
  position: relative;

  z-index: 1;

  width: 100%;
}

.editor :global(.ProseMirror) {
  width: 100%;

  box-sizing: border-box;

  outline: none;

  padding: var(--page-margin-top) var(--page-margin-right)
    var(--page-margin-bottom) var(--page-margin-left);

  color: var(--color-foreground);

  font-family: var(--font-sans);

  font-size: 16px;

  line-height: 1.7;
} */

.surface {
  position: relative;

  width: var(--page-width);

  margin-inline: auto;
}

.pages {
  position: absolute;
  inset: 0;

  z-index: 0;

  pointer-events: none;
}

.page {
  position: absolute;

  left: 0;

  width: 100%;
  height: var(--page-height);

  box-sizing: border-box;

  background: var(--color-surface);

  box-shadow:
    0 1px 2px oklch(0% 0 0 / 4%),
    0 8px 32px oklch(0% 0 0 / 8%);
}

.page:not(:first-child)::before {
  content: "";

  position: absolute;

  left: 0;
  right: 0;

  top: calc(-1 * (var(--page-separator-space) + var(--page-separator-height)));

  height: var(--page-separator-height);

  background: var(--page-separator-color);
}

.editor {
  position: relative;

  z-index: 1;

  width: 100%;
}

.editor :global(.ProseMirror) {
  width: 100%;

  box-sizing: border-box;

  outline: none;

  /*
   * Marges de la feuille.
   */
  padding: var(--page-margin-top) var(--page-margin-right)
    var(--page-margin-bottom) var(--page-margin-left);

  color: var(--color-foreground);

  font-family: var(--font-sans);

  font-size: 16px;

  line-height: 1.7;
}
