.container {
  position: absolute;
  inset: 0;

  pointer-events: none;

  z-index: 2;
}

.separator {
  position: absolute;
  left: 0;
  right: 0;

  height: 2px;

  background: var(--color-border);
}
