/* .page {
  position: relative;

  width: var(--page-width);
  min-height: var(--page-height);

  box-sizing: border-box;

  background: var(--color-surface);

  padding: var(--page-margin-top) var(--page-margin-right)
    var(--page-margin-bottom) var(--page-margin-left);

  overflow: hidden;

  box-shadow:
    0 1px 2px oklch(0% 0 0 / 4%),
    0 8px 32px oklch(0% 0 0 / 8%);
}

.content {
  min-height: var(--page-content-height);
} */

.page {
  position: relative;

  width: var(--page-width);
  min-height: var(--page-height);

  box-sizing: border-box;

  background: var(--color-surface);

  padding: var(--page-margin-top) var(--page-margin-right)
    var(--page-margin-bottom) var(--page-margin-left);

  box-shadow:
    0 1px 2px oklch(0% 0 0 / 4%),
    0 8px 32px oklch(0% 0 0 / 8%);
}

.content {
  position: relative;

  min-height: var(--page-content-height);
}
